:root {
    --accent: #ff3333; 
    --bg-black: #050505;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: var(--bg-black);
    color: #fff;
    font-family: 'Outfit', sans-serif;
    overflow: hidden; 
}

/* Navbar */
.glass-header {
    display: flex; justify-content: space-between; align-items: center;
    padding: 15px 5%; position: fixed; width: 100%; top: 0; z-index: 1000;
    background: rgba(0,0,0,0.85); backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.logo-img { height: 40px; }
.brand-text { font-family: 'Syncopate', sans-serif; font-size: 18px; letter-spacing: 3px; }

input {
    background: rgba(255,255,255,0.05); border: 1px solid rgba(255,255,255,0.1);
    color: #fff; padding: 8px 15px; border-radius: 20px; outline: none;
    transition: 0.3s;
}
input:focus { border-color: var(--accent); }

/* Hero */
.main-hero {
    height: 35vh; display: flex; align-items: flex-end; justify-content: center;
    text-align: center; padding-bottom: 30px;
}
.company-name { font-size: clamp(22px, 5vw, 55px); font-weight: 800; letter-spacing: -1px; text-transform: uppercase; }
.line-decorator { width: 60px; height: 3px; background: var(--accent); margin: 15px auto; }


/* Hero1 */
.main-hero1 {
    height: 35vh; display: flex; align-items: flex-end; justify-content: center;
    text-align: center; padding-bottom: 30px;
}
.company-name { font-size: clamp(5px, 5vw, 5px); font-weight: 100; letter-spacing: -1px; text-transform: uppercase; }
.line-decorator { width: 10px; height: 3px; background: var(--accent); margin: 5px auto; }


/* Slider Section */
.slider-section {
    width: 100%; height: 55vh; 
    overflow-x: auto; 
    display: flex; align-items: center;
    scroll-behavior: auto; /* Auto-slide ke liye auto zaroori hai */
}
.slider-section::-webkit-scrollbar { display: none; } /* Scrollbar chupa di */

.horizontal-scroll {
    display: flex; gap: 40px; padding: 0 5%;
}

/* Card Look */
.p-card {
    min-width: 300px; text-align: center; cursor: pointer;
    transition: 0.4s;
}

.img-container {
    background: #111; 
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 20px; padding: 40px; 
    transition: 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.p-card img {
    width: 100%; height: 200px; object-fit: contain;
    transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.5));
}

/* Hover Effects */
.p-card:hover .img-container { 
    border-color: var(--accent); 
    background: #1a1a1a;
    transform: translateY(-15px);
}
.p-card:hover img { 
    transform: scale(1.15) rotate(2deg); 
}

.p-card h3 { 
    margin-top: 20px; font-size: 14px; font-weight: 400;
    opacity: 0.6; letter-spacing: 2px; text-transform: uppercase;
    transition: 0.3s;
}
.p-card:hover h3 { opacity: 1; color: var(--accent); }
